@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');


@viewport {
    width: fit-content;
   
  }

body{
    /* background-image: url('cyberPic.jpg'); */
    background-size: cover;
    background-repeat: 'no-repeat';
}
.allButtons{
    margin-left: 25vh;
    margin-right: 0vh;
    margin-top: 10vh;
}

.allButtons #feedPet{
    background-color: gray; 
    height: 65px;
    width: 20%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
    /* margin-left: 25%; */
  
   
}
.allButtons #playBark{
    background-color: gray; 
    height: 65px;
    width: 20%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
    /* margin-left: 55%; */
   
}
.allButtons #playvid{
    background-color: gray; 
    height: 65px;
    width: 20%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
    /* margin-left: 5%; */
   
}

.allButtons #pausevid{
    background-color: gray; 
    height: 65px;
    width: 20%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
    /* margin-left: 30%; */
   
}

#playvid:hover, #pausevid:hover, #feedPet:hover, #playBark:hover{
    background-color: #a4d89f; box-shadow: 0 12px 16px 0 rgb(255, 254, 254),0 17px 50px 0 rgba(0,0,0,0.19);
}

/* The next two control the video */

video {
    position: fixed;
    top: 300px;
    right: 0;
    bottom: 0;
    left: 500px;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 150%;
    left: 200px;
    width: 50%;
    height: 50%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url("adog_video.mp4") center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}
/* bubble speech box */
p.speech {
    position: relative;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #fff;
    border: 8px solid #666655;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
    left: 600px;
  }
/* bubble speech tail */
  p.speech:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 110px;
    top: 100px;
    border: 25px solid;
    border-color: #666655 transparent transparent #666666;
  }
